html,
body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 25px;
  background-color: #000;
  font-family: "Courier";
  color: #fff;
  font-size: 12px;
  line-height: 7pt;
}

canvas {
  display: none;
}

h1 {
  margin-top: 50px;
  font-size: 50px;
}
